<!-- <app-diretiva-ngif></app-diretiva-ngif> -->

<!-- <app-diretiva-ngswitchcase></app-diretiva-ngswitchcase> -->

<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->

<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->

<!-- <app-diretiva-ng-style></app-diretiva-ng-style> -->

<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-exemplo-ng-content>
  Conteúdo para passar pelo ng
  <app-operador-elvis></app-operador-elvis>

</app-exemplo-ng-content> -->

<!-- <app-exemplo-ng-content>
  <div class="titulo">
    Título do Painel
  </div>
  <div class="corpo">Corpo do texto</div> 
  <div class="corpo">Corpo do texto 2</div> 
  <app-operador-elvis></app-operador-elvis>

</app-exemplo-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>